.container {
    margin-bottom: 20px;
}

.input-style {
    padding: 10px;
    border: 1px solid #CEFB3E;
    border-radius: 10px;
    font-size: 16px;
    background-color: #2F2F30;
    color: #ffffff;
    outline-color: #CEFB3E;
    width: 500px;
    display: block;
}

.name-style {
    font-size: 25px;
}