.container {
    margin-bottom: 20px;
}
.container-form {
  margin-bottom: 30px;
}

.input-style {
    padding: 10px;
    border: 2px solid #CEFB3E;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    width: 500px;
    display: block;
    font-family: Verdana;
}

.input-style:hover{
    border: 2px solid #ffffff;
}

.name-style {
    font-size: 25px;
}
.image-preview {
    padding: 15px;
    width: 200px;
    height: 200px;
    border: 2px solid #CEFB3E;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    margin-right: 100px;
}

.custom-file-upload {
    border: 2px solid #CEFB3E;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    background-color: #CEFB3E;
  }
  
  .custom-file-upload:hover {
    background-color: #1C1C1E;
    color: #ffffff;
  }

  .image-error {
    background-color: transparent;
    color: #fb3e3e;
    border: 1px solid #fb3e3e;
  } 

  .button-save {
    border: 2px solid #CEFB3E;
    padding: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    background-color: #CEFB3E;
    width: 150px;
  }
  .button-save:hover {
    background-color: #1C1C1E;
    color: #ffffff;
  }

  .button-cancel {
    border: 2px solid #CEFB3E;
    padding: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 100px;
    width: 150px;
  }
  .button-cancel:hover {
    color: #fb3e3e;
    border: 2px solid #fb3e3e;
  }

  .error {
    border: 2px solid #fb3e3e;
  }
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 22%;
    right: 0;
    bottom: 0;
    background-color: #1C1C1E;
    z-index: 100;
    width: 700px;
    height: 450px;
    padding: 12px;
    padding-bottom: 30px;
    border: 3px solid #CEFB3E;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: #1C1C1E;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .modal-image {
    flex: 1;
    margin: 20px;
    width: 150px;
  }

  .modal-form {
    flex: 1;
  }

  .modal-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #CEFB3E;
  }

  .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: transparent;
    margin-left: 30%;
  }

  .modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1C1C1E;
    color: #ffffff;
    border: 1px solid #CEFB3E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 30px;
  }
  .modal-button:hover {
    background-color: #CEFB3E;
    color: #1C1C1E;
    border: 1px solid #CEFB3E;
  }

  .modal-card {
    border-radius: 5px;
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
    padding: 10px;
  }

  .divider-style {
    border-left: 1px solid #CEFB3E;
    height: 250px;
    left: 50%;
    margin: 4px;
    margin-right: 16px;
    top: 0;
  }

  .badger-name {
    font-size:25px;
    text-align: center;
    font-family: verdana;
    line-height: 0px;
  }

  .badger-gen {
    font-size: 12px;
    line-height: 0px;
    text-align: center;
    font-family: verdana;
  }
  .badger-platform {
    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
    text-align: center;
    font-family: verdana;
    color: #CEFB3E;
  }

  .subtitle-container-2{
    height: 15px;
    margin-top: 25px;
  }
  .subtitle-container{
    height: 15px;
    margin-top: 10px;
  }
  .badger-subtitle {
    font-size: 14px;
    font-weight: bold;
    line-height: 3px;
    text-align: left;
    font-family: verdana;
    color: #CEFB3E;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  .badger-text {
    font-size: 12px;
    line-height: 14px;
    font-family: verdana;
    color: #ffffff;
    margin-bottom: 25px;
  }

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top center;
  }

  .left-info {
    flex: 1;
    width: 100px;
    margin-right: 10px;
  }
  .rigth-info{
    flex: 1;
    width: 100px;
    position: right;
  }
