.container {
    margin-bottom: 20px;
}

.input-style {
    padding: 10px;
    border: 2px solid #CEFB3E;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    width: 500px;
    display: block;
}

.input-style:hover{
    border: 2px solid #ffffff;
}

.name-style {
    font-size: 25px;
}
.image-preview {
    padding: 15px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #CEFB3E;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
}

.custom-file-upload {
    border: 1px solid #CEFB3E;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    background-color: #CEFB3E;
  }
  
  .custom-file-upload:hover {
    background-color: #1C1C1E;
    color: #ffffff;
  }

  .button-save {
    border: 2px solid #CEFB3E;
    padding: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    background-color: #CEFB3E;
    width: 150px;
  }
  .button-save:hover {
    background-color: #1C1C1E;
    color: #ffffff;
  }

  .button-cancel {
    border: 2px solid #CEFB3E;
    padding: 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 100px;
    width: 150px;
  }
  .button-cancel:hover {
    color: #fb3e3e;
    border: 2px solid #fb3e3e;
  }